.main-div {
  display: flex;
  flex-direction: column;
}
 
.inner-div {
  display: flex;
  justify-content: space-around;
  padding: 20 0;
}
 
.inner-inner-div {
  border: 1px solid black;
  border-radius: 25px;
  width: 30%;
}
 
.btn {
  border-radius: 25px;
  border: 1px solid black;
  width: 30%;
  color: black;
  background-color: transparent;
  padding: 10 0;
  cursor: pointer;
  margin-top: 10px;
}

.btn-1 {
  border-radius: 25px;
  padding: 20px 40px;
  background-color: rgba(53, 216, 53, 0.664);
  cursor: pointer;
  margin-top: 20px;
  margin-left: 50px;
  border: greenyellow;
  color: white;
  font-size: larger;
}

.btn-1 :hover {
  background-color: green;
}

.btn-2 {
  border-radius: 25px;
  padding: 20px 40px;
  background-color: rgba(216, 77, 53, 0.664);
  cursor: pointer;
  margin-top: 20px;
  margin-left: 50px;
  border: rgb(255, 89, 47);
  color: white;
  font-size: larger;
}

.btn-2 :hover {
  background-color: red;
}
